.otro-listado-papas {
    background-color: black;
    padding: 30px;
    width: 200px;

    border-style:solid;
    border-color: black;
    border-radius: 12px; /* REDONDEAR */

    margin-top: 4%;

   text-align: center;

    border-style:solid;
    border-color: white;
    border-radius: 12px; /* REDONDEAR */
}

h2 {

    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;

    margin-top: -10%;

    
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.lista {
  display: flex;          /* activa Flexbox */
  flex-wrap: wrap;        /* permite que los items se vayan abajo si no hay espacio */
  gap: 40px;              /* espacio entre los elementos */
  list-style: none;       /* quita los puntos de la lista */
  padding: 0;
  margin: 0;
}